# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [14]:
# Do all imports and installs here
import pandas as pd
from pyspark.sql import SparkSession
from pyspark import SparkConf
from typing import Dict, List
from pyspark.sql import Window
from pyspark.sql import functions as F
from pyspark.sql.dataframe import DataFrame
from pyspark.sql.types import DateType, StringType, FloatType, ByteType, IntegerType, DecimalType
import os

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [11]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.\
config("spark.jars.repositories", "https://repos.spark-packages.org/").\
config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
enableHiveSupport().getOrCreate()

# analysing global temparature city file

In [12]:
input_dir = "/workspace/home"
output_dir = "/workspace/home/output"

In [18]:
def globalcity_temperature_process(spark, input_dir, output_dir):

    """Create/Recreate globalcity_temperature_process dimension table."""
    table_name = "globalcity_temperature_process"
    csv_path= os.path.join(input_dir, "GlobalLandTemperaturesByCity.csv")
    temp_df = spark.read.option("header", True).csv(csv_path)
    print("Before process -----------")
    print(temp_df.show())
    temp_df = temp_df.dropna()
    temp_df = temp_df.withColumn("year", F.year("dt")).withColumn("month", F.month("dt"))
    temp_df = temp_df.groupBy([F.col("Country").alias("country"), "year", "month"]).agg(
        F.avg("AverageTemperature").alias("average_temperature"),
        F.avg("AverageTemperatureUncertainty").alias("average_temperature_uncertainty"),
    )
    temp_df = temp_df.withColumn("temperature_id", F.monotonically_increasing_id())

    #check_data_quality(temp_df, "temperature_id", table_name)
    output_path = os.path.join(output_dir, table_name)
    print(f"Data for {table_name} table was successfully processed.")
    temp_df.write.mode("overwrite").parquet(output_path)
    temp_df.show()
globalcity_temperature_process(spark, input_dir, output_dir)

Before process -----------
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-01-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-02-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-03-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|
|1744-08-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|
|1745-05-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1745-06-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

None
Data for globalcity_temperature_process table was successfully processed.
+-------+----+-----+-------------------+-------------------------------+--------------+
|country|year|month|average_temperature|average_temperature_uncertainty|temperature_id|
+-------+----+-----+-------------------+-------------------------------+--------------+
|Denmark|1760|   11|              3.447|                          3.927|             0|
|Denmark|1765|    3|               3.12|             3.2089999999999996|             1|
|Denmark|1800|    6|             12.283|             2.1180000000000003|             2|
|Denmark|1820|    4|              6.789|             1.4669999999999999|             3|
|Denmark|1832|    4|              6.936|                          3.908|             4|
|Denmark|1873|    8|             16.046|                          0.305|             5|
|Denmark|1897|    9| 12.482000000000001|                          0.405|             6|
|Denmark|1947|    2| -7.816000000000002|                          0.531|             7|
|Denmark|1992|    1|              3.148|                          0.342|             8|
|Denmark|1996|    1|              -1.88|                          0.243|             9|
| Turkey|1774|    8|             22.574|                         2.3622|            10|
| Turkey|1782|    7| 22.916571428571427|              4.101428571428571|            11|
| Turkey|1783|   10| 12.931285714285716|             3.3281428571428573|            12|
| Turkey|1801|    7| 24.208555555555556|             2.2268888888888885|            13|
| Turkey|1810|    7|  21.80966666666667|              2.493444444444444|            14|
| Turkey|1810|    9| 18.541111111111107|             1.9055555555555554|            15|
| Turkey|1821|    6| 17.743555555555556|              4.441999999999999|            16|
| Turkey|1842|   10| 14.789111111111112|             1.6881111111111111|            17|
| Turkey|1851|    9|  19.98711111111111|             0.9846666666666667|            18|
| Turkey|1856|   10| 14.013222222222222|             1.2553333333333332|            19|
+-------+----+-----+-------------------+-------------------------------+--------------+
only showing top 20 rows

# Analysing U.s demographic cities

In [25]:
def process_demographic(spark: SparkSession, input_dir_path: str, output_dir_path: str) -> None:
    """Create/Recreate demographic dimension table."""
    table_name = "demographic"

    #demog_df = read_demographic_csv(spark, input_dir_path)
    #csv_path = get_file_path(dir_path, "us-cities-demographics.csv")
    #spark_df = spark.read.option("header", True).options(delimiter=";").csv(csv_path)
    csv_path= os.path.join(input_dir, "us-cities-demographics.csv")
    #demog_df = spark.read.option("header", True).csv(csv_path)
    demog_df = spark.read.option("header", True).options(delimiter=";").csv(csv_path)
    print("Before processing -----------------------------")
    demog_df.show()
    demog_df = demog_df.groupBy(F.col("State Code").alias("state_code")).agg(
        F.sum("Total Population").cast(IntegerType()).alias("total_population"),
        F.sum("Male Population").cast(IntegerType()).alias("male_population"),
        F.sum("Female Population").cast(IntegerType()).alias("female_population"),
        F.sum("Number of Veterans").cast(IntegerType()).alias("number_of_veterans"),
        F.sum("Foreign-born").cast(IntegerType()).alias("foregin_born"),
        F.avg("Median Age").cast(FloatType()).alias("median_age"),
        F.avg("Average Household Size").cast(FloatType()).alias("average_household_size"),
    )

    #check_data_quality(demog_df, "state_code", table_name)
    print(f"Data for {table_name} table was successfully processed.")
    #demog_df.limit(5).toPandas()
    #output_path = os.path.join(output_dir, table_name)
    print(f"Data for {table_name} table was successfully processed.")
    #demog_df.write.mode("overwrite").parquet(output_path)
    #demog_df.show()
    return demog_df
demog_df=process_demographic(spark, input_dir, output_dir)
    #write_table_data(demog_df, output_dir_path, table_name)

Before processing -----------------------------
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|            City|         State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|                Race| Count|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|   Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|  Hispanic or Latino| 25924|
|          Quincy| Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|               White| 58723|
|          Hoover|       Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|               Asian|  4759|
|Rancho Cucamonga|    California|      34.5|          88127|            87105|          175232|              5821|       33878|                  3.18|        CA|Black or African-...| 24437|
|          Newark|    New Jersey|      34.6|         138040|           143873|          281913|              5829|       86253|                  2.73|        NJ|               White| 76402|
|          Peoria|      Illinois|      33.1|          56229|            62432|          118661|              6634|        7517|                   2.4|        IL|American Indian a...|  1343|
|        Avondale|       Arizona|      29.1|          38712|            41971|           80683|              4815|        8355|                  3.18|        AZ|Black or African-...| 11592|
|     West Covina|    California|      39.8|          51629|            56860|          108489|              3800|       37038|                  3.56|        CA|               Asian| 32716|
|        O'Fallon|      Missouri|      36.0|          41762|            43270|           85032|              5783|        3269|                  2.77|        MO|  Hispanic or Latino|  2583|
|      High Point|North Carolina|      35.5|          51751|            58077|          109828|              5204|       16315|                  2.65|        NC|               Asian| 11060|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|  Hispanic or Latino|  5822|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|American Indian a...|   998|
|    Philadelphia|  Pennsylvania|      34.1|         741270|           826172|         1567442|             61995|      205339|                  2.61|        PA|               Asian|122721|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|  Hispanic or Latino| 65162|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|American Indian a...|  8791|
|      Fort Myers|       Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|               White| 50169|
|      Pittsburgh|  Pennsylvania|      32.9|         149690|           154695|          304385|             17728|       28187|                  2.13|        PA|               White|208863|
|          Laredo|         Texas|      28.8|         124305|           131484|          255789|              4921|       68427|                  3.66|        TX|American Indian a...|  1253|
|        Berkeley|    California|      32.5|          60142|            60829|          120971|              3736|       25000|                  2.35|        CA|               Asian| 27089|
|     Santa Clara|    California|      35.2|          63278|            62938|          126216|              4426|       52281|                  2.75|        CA|               White| 55847|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
only showing top 20 rows

Data for demographic table was successfully processed.
Data for demographic table was successfully processed.

## Anlysing Immigration data

In [4]:
immigration_df = spark.read.csv('immigration_data_sample.csv',header=True)

In [5]:
immigration_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- cicid: string (nullable = true)
 |-- i94yr: string (nullable = true)
 |-- i94mon: string (nullable = true)
 |-- i94cit: string (nullable = true)
 |-- i94res: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: string (nullable = true)
 |-- i94mode: string (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: string (nullable = true)
 |-- i94bir: string (nullable = true)
 |-- i94visa: string (nullable = true)
 |-- count: string (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: string (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: string (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [6]:
immigration_df.show(truncate=False)

+-------+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+-------------+-----+--------+
|_c0    |cicid    |i94yr |i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear|dtaddto |gender|insnum|airline|admnum       |fltno|visatype|
+-------+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+-------------+-----+--------+
|2027561|4084316.0|2016.0|4.0   |209.0 |209.0 |HHW    |20566.0|1.0    |HI     |20573.0|61.0  |2.0    |1.0  |20160422|null    |null |G      |O      |null   |M      |1955.0 |07202016|F     |null  |JL     |56582674633.0|00782|WT      |
|2171295|4422636.0|2016.0|4.0   |582.0 |582.0 |MCA    |20567.0|1.0    |TX     |20568.0|26.0  |2.0    |1.0  |20160423|MTR     |null |G      |R      |null   |M      |1990.0 |10222016|M     |null  |*GA    |94361995930.0|XBLNG|B2      |
|589494 |1195600.0|2016.0|4.0   |148.0 |112.0 |OGG    |20551.0|1.0    |FL     |20571.0|76.0  |2.0    |1.0  |20160407|null    |null |G      |O      |null   |M      |1940.0 |07052016|M     |null  |LH     |55780468433.0|00464|WT      |
|2631158|5291768.0|2016.0|4.0   |297.0 |297.0 |LOS    |20572.0|1.0    |CA     |20581.0|25.0  |2.0    |1.0  |20160428|DOH     |null |G      |O      |null   |M      |1991.0 |10272016|M     |null  |QR     |94789696030.0|00739|B2      |
|3032257|985523.0 |2016.0|4.0   |111.0 |111.0 |CHM    |20550.0|3.0    |NY     |20553.0|19.0  |2.0    |1.0  |20160406|null    |null |Z      |K      |null   |M      |1997.0 |07042016|F     |null  |null   |42322572633.0|LAND |WT      |
|721257 |1481650.0|2016.0|4.0   |577.0 |577.0 |ATL    |20552.0|1.0    |GA     |20606.0|51.0  |2.0    |1.0  |20160408|null    |null |T      |N      |null   |M      |1965.0 |10072016|M     |null  |DL     |736852585.0  |910  |B2      |
|1072780|2197173.0|2016.0|4.0   |245.0 |245.0 |SFR    |20556.0|1.0    |CA     |20635.0|48.0  |2.0    |1.0  |20160412|null    |null |T      |O      |null   |M      |1968.0 |10112016|F     |null  |CX     |786312185.0  |870  |B2      |
|112205 |232708.0 |2016.0|4.0   |113.0 |135.0 |NYC    |20546.0|1.0    |NY     |20554.0|33.0  |2.0    |1.0  |20160402|null    |null |G      |O      |null   |M      |1983.0 |06302016|F     |null  |BA     |55474485033.0|00117|WT      |
|2577162|5227851.0|2016.0|4.0   |131.0 |131.0 |CHI    |20572.0|1.0    |IL     |20575.0|39.0  |2.0    |1.0  |20160428|null    |null |O      |O      |null   |M      |1977.0 |07262016|null  |null  |LX     |59413424733.0|00008|WT      |
|10930  |13213.0  |2016.0|4.0   |116.0 |116.0 |LOS    |20545.0|1.0    |CA     |20553.0|35.0  |2.0    |1.0  |20160401|null    |null |O      |O      |null   |M      |1981.0 |06292016|null  |null  |AA     |55449792933.0|00109|WT      |
|617174 |1230572.0|2016.0|4.0   |438.0 |438.0 |LOS    |20551.0|1.0    |CA     |20565.0|4.0   |2.0    |1.0  |20160407|null    |null |G      |O      |null   |M      |2012.0 |07052016|F     |null  |QF     |55743814633.0|00015|WT      |
|2497156|5056736.0|2016.0|4.0   |209.0 |209.0 |PHI    |20571.0|1.0    |HI     |20575.0|72.0  |2.0    |1.0  |20160427|null    |null |G      |O      |null   |M      |1944.0 |07252016|M     |null  |DL     |59336618033.0|00598|WT      |
|1339656|2711583.0|2016.0|4.0   |148.0 |112.0 |FTL    |20559.0|2.0    |null   |20565.0|54.0  |2.0    |1.0  |20160415|null    |null |G      |O      |null   |M      |1962.0 |07132016|F     |null  |VES    |56175860733.0|93724|WT      |
|2430322|4916639.0|2016.0|4.0   |260.0 |260.0 |LOS    |20570.0|1.0    |CA     |20581.0|62.0  |2.0    |1.0  |20160426|MNL     |null |G      |O      |null   |M      |1954.0 |10252016|F     |null  |EK     |94612771030.0|00215|B2      |
|682005 |1387607.0|2016.0|4.0   |148.0 |112.0 |BOS    |20552.0|1.0    |MA     |20560.0|34.0  |2.0    |1.0  |20160408|null    |null |G      |K      |null   |M      |1982.0 |07062016|F     |null  |AF     |55833387633.0|00338|WT      |
|2938436|5960799.0|2016.0|4.0   |245.0 |245.0 |SAI    |20545.0|1.0    |null   |20550.0|30.0  |2.0    |1.0  |20160615|null    |null |P      |D      |null   |M      |1986.0 |04132016|M     |3882  |MU     |44162582033.0|00763|CP      |
|530804 |1056530.0|2016.0|4.0   |512.0 |512.0 |NAS    |20550.0|1.0    |GA     |20552.0|21.0  |2.0    |1.0  |20160406|NSS     |null |G      |O      |null   |M      |1995.0 |10052016|F     |null  |DL     |92858001630.0|00554|B2      |
|1187149|2466971.0|2016.0|4.0   |689.0 |689.0 |FTL    |20557.0|1.0    |FL     |20569.0|43.0  |2.0    |1.0  |20160413|null    |null |O      |O      |null   |M      |1973.0 |10122016|null  |null  |AD     |93384901630.0|08704|B2      |
|2283033|4668286.0|2016.0|4.0   |746.0 |158.0 |SEA    |20568.0|1.0    |NV     |20571.0|46.0  |2.0    |1.0  |20160424|MOS     |null |G      |O      |null   |M      |1970.0 |10232016|M     |null  |DL     |94435600530.0|00143|B2      |
|1262082|2556646.0|2016.0|4.0   |260.0 |260.0 |FTL    |20558.0|1.0    |CA     |20596.0|14.0  |2.0    |1.0  |20160414|MNL     |null |G      |O      |null   |M      |2002.0 |10132016|M     |null  |OZ     |93536845530.0|00204|B2      |
+-------+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+-------------+-----+--------+
only showing top 20 rows

In [7]:
immigration_df.count()

1000

In [8]:
immigration_df.dropDuplicates().count()

1000

In [9]:
immigration_df.describe().show(truncate=False)

+-------+-----------------+------------------+------+------+------------------+------------------+-------+-----------------+------------------+-------+------------------+-----------------+------------------+-----+-----------------+--------+-----+-------+-------+-------+-------+-----------------+------------------+------+------------------+-------+--------------------+------------------+--------+
|summary|_c0              |cicid             |i94yr |i94mon|i94cit            |i94res            |i94port|arrdate          |i94mode           |i94addr|depdate           |i94bir           |i94visa           |count|dtadfile         |visapost|occup|entdepa|entdepd|entdepu|matflag|biryear          |dtaddto           |gender|insnum            |airline|admnum              |fltno             |visatype|
+-------+-----------------+------------------+------+------+------------------+------------------+-------+-----------------+------------------+-------+------------------+-----------------+------------------+-----+-----------------+--------+-----+-------+-------+-------+-------+-----------------+------------------+------+------------------+-------+--------------------+------------------+--------+
|count  |1000             |1000              |1000  |1000  |1000              |1000              |1000   |1000             |1000              |941    |951               |1000             |1000              |1000 |1000             |382     |4    |1000   |954    |0      |954    |1000             |1000              |859   |35                |967    |1000                |992               |1000    |
|mean   |1542097.12       |3040461.409       |2016.0|4.0   |302.928           |298.262           |null   |20559.68         |1.078             |null   |20575.03785488959 |42.382           |1.859             |1.0  |2.0160424879E7   |null    |null |null   |null   |null   |null   |1973.618         |8258277.404255319 |null  |3826.8571428571427|2.0    |6.9372367950789E10  |1337.2554291623578|null    |
|stddev |915287.9043923795|1799817.7827726966|0.0   |0.0   |206.48528516334758|202.12038988683958|null   |8.995026987758733|0.4859548869516101|null   |24.211233522000143|17.90342449389526|0.3863525181337226|0.0  |49.51656540286629|null    |null |null   |null   |null   |null   |17.90342449389525|1622586.3557888167|null  |221.7425829858661 |0.0    |2.338134181802248E10|6149.954574383991 |null    |
|min    |1006205          |1000074.0         |2016.0|4.0   |103.0             |103.0             |AGA    |20545.0          |1.0               |AL     |20547.0           |1.0              |1.0               |1.0  |20160401         |ABD     |OTH  |A      |D      |null   |M      |1923.0           |04082018          |F     |3468              |*GA    |0.0                 |00001             |B1      |
|max    |997880           |999282.0          |2016.0|4.0   |746.0             |696.0             |X96    |20574.0          |9.0               |WI     |20715.0           |93.0             |3.0               |1.0  |20160801         |WRW     |STU  |Z      |W      |null   |M      |2015.0           |D/S               |X     |4686              |ZX     |95021509030.0       |XBLNG             |WT      |
+-------+-----------------+------------------+------+------+------------------+------------------+-------+-----------------+------------------+-------+------------------+-----------------+------------------+-----+-----------------+--------+-----+-------+-------+-------+-------+-----------------+------------------+------+------------------+-------+--------------------+------------------+--------+

In [10]:
immigration_df.write.parquet('immigration_data')

In [13]:
spark.read.parquet('immigration_data').count()

1000

##  Analysing global temparature data

In [5]:
#GlobalLandTemperaturesByCity.csv
temp_df = spark.read.csv('GlobalLandTemperaturesByCity.csv',header=True)

In [6]:
print("Number of rows: ", temp_df.count())
temp_df.limit(5).toPandas()

Number of rows:  600311

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.7369999999999999,Århus,Denmark,57.05N,10.33E
1,1743-12-01,None,None,Århus,Denmark,57.05N,10.33E
2,1744-01-01,None,None,Århus,Denmark,57.05N,10.33E
3,1744-02-01,None,None,Århus,Denmark,57.05N,10.33E
4,1744-03-01,None,None,Århus,Denmark,57.05N,10.33E

In [7]:
temp_df.count()

600311

In [9]:

temp_df.dropDuplicates().count()

600311

## Analysing airpots codes

In [10]:
# Read in the data here
airport_df = spark.read \
    .option("header", True) \
    .csv("airport-codes_csv.csv")

In [11]:
print(airport_df.count())
airport_df.limit(5).toPandas()

55075

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11,NA,US,US-PA,Bensalem,00A,None,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435,NA,US,US-KS,Leoti,00AA,None,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450,NA,US,US-AK,Anchor Point,00AK,None,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820,NA,US,US-AL,Harvest,00AL,None,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237,NA,US,US-AR,Newport,None,None,None,"-91.254898, 35.6087"

In [12]:
airport_df.dropDuplicates().count()

55075

## Analysing U.S.Demographic data

In [14]:
demographic_df = spark.read \
    .option("header", True) \
    .options(delimiter=';') \
    .csv("us-cities-demographics.csv")

In [15]:
print("Number of rows: ", demographic_df.count())

Number of rows:  2891

In [16]:
print(demographic_df.count())
airport_df.limit(5).toPandas()

2891

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11,NA,US,US-PA,Bensalem,00A,None,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435,NA,US,US-KS,Leoti,00AA,None,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450,NA,US,US-AK,Anchor Point,00AK,None,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820,NA,US,US-AL,Harvest,00AL,None,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237,NA,US,US-AR,Newport,None,None,None,"-91.254898, 35.6087"

In [27]:
us_states_df = pd.read_html('https://www23.statcan.gc.ca/imdb/p3VD.pl?Function=getVD&TVD=53971')[0]
us_states_df = us_states_df.drop(columns=["Abbreviation", "Code"])
us_states_df = us_states_df.rename(columns={"State": "state", "Alpha code": "state_code"})
us_states_df = spark.createDataFrame(us_states_df)

print("Number of rows: ", us_states_df.count())
us_states_df.limit(5).toPandas()

Number of rows:  51

        state state_code
0     Alabama         AL
1      Alaska         AK
2     Arizona         AZ
3    Arkansas         AR
4  California         CA

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [18]:
# Performing cleaning tasks here

dim_country_temperature_evolution_df = temp_df.dropna()
dim_country_temperature_evolution_df = dim_country_temperature_evolution_df.withColumn("year", F.year("dt")).withColumn("month", F.month("dt"))
dim_country_temperature_evolution_df = dim_country_temperature_evolution_df.groupBy([F.col("Country").alias("country"), "year", "month"]).agg(
    F.avg("AverageTemperature").alias("average_temperature"),
    F.avg("AverageTemperatureUncertainty").alias("average_temperature_uncertainty"),
) 
dim_country_temperature_evolution_df = dim_country_temperature_evolution_df.withColumn('temperature_id', F.monotonically_increasing_id())

print("Number of rows: ", dim_country_temperature_evolution_df.count())
dim_country_temperature_evolution_df.printSchema()
dim_country_temperature_evolution_df.limit(5).toPandas()

Number of rows:  151549
root
 |-- country: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- average_temperature: double (nullable = true)
 |-- average_temperature_uncertainty: double (nullable = true)
 |-- temperature_id: long (nullable = false)

,country,year,month,average_temperature,average_temperature_uncertainty,temperature_id
0,Denmark,1760,11,3.447,3.927,0
1,Denmark,1765,3,3.120,3.209,1
2,Denmark,1800,6,12.283,2.118,2
3,Denmark,1820,4,6.789,1.467,3
4,Denmark,1832,4,6.936,3.908,4

In [7]:
from pyspark.sql.dataframe import DataFrame

def get_no_of_chars(df_spark: DataFrame) -> pd.DataFrame:
    """Get the minimum and maximum number of characters per string type columns."""
    for column, dtype in df_spark.dtypes:
        if dtype == 'string':
            df_spark = df_spark.withColumn(f"len_{column}", F.length(column))

    min_list = [F.min(column) for column, dtype in df_spark.dtypes if "len_" in column]
    max_list = [F.max(column) for column, dtype in df_spark.dtypes if "len_" in column]
    no_chars_list = min_list + max_list
    return df_spark.select(no_chars_list).limit(len(no_chars_list)).toPandas().T

get_no_of_chars(dim_country_temperature_evolution_df)

NameError: name 'dim_country_temperature_evolution_df' is not defined

In [20]:
dim_demographic_df = demographic_df.groupBy(F.col("State Code").alias("state_code")).agg(
    F.sum("Total Population").cast(IntegerType()).alias("total_population"),
    F.sum("Male Population").cast(IntegerType()).alias("male_population"),
    F.sum("Female Population").cast(IntegerType()).alias("female_population"),
    F.sum("Number of Veterans").cast(IntegerType()).alias("number_of_veterans"),
    F.sum("Foreign-born").cast(IntegerType()).alias("foregin_born"),
    F.avg("Median Age").cast(FloatType()).alias("median_age"),
    F.avg("Average Household Size").cast(FloatType()).alias("average_household_size"),
) 

print("Number of rows: ", dim_demographic_df.count())
dim_demographic_df.printSchema()
dim_demographic_df.limit(5).toPandas()

Number of rows:  49
root
 |-- state_code: string (nullable = true)
 |-- total_population: integer (nullable = true)
 |-- male_population: integer (nullable = true)
 |-- female_population: integer (nullable = true)
 |-- number_of_veterans: integer (nullable = true)
 |-- foregin_born: integer (nullable = true)
 |-- median_age: float (nullable = true)
 |-- average_household_size: float (nullable = true)

,state_code,total_population,male_population,female_population,number_of_veterans,foregin_born,median_age,average_household_size
0,AZ,22497710,11137275,11360435,1322525,3411565,35.037498,2.774375
1,SC,2586976,1265291,1321685,163334,134019,33.825001,2.469583
2,LA,6502975,3134990,3367985,348855,417095,34.625000,2.465000
3,MN,7044165,3478803,3565362,321738,1069888,35.579628,2.496852
4,NJ,6931024,3423033,3507991,146632,2327750,35.254387,2.960877

In [25]:
dim_us_states_df = us_states_df

print("Number of rows: ", dim_us_states_df.count())
dim_us_states_df.printSchema()
dim_us_states_df.limit(5).toPandas()

NameError: name 'us_states_df' is not defined

In [26]:
from utils.read_data import read_i94_descr
input_dir_path = "raw_data"

visa_category = read_i94_descr("I94VISA", input_dir_path)
dim_visa_df = imm_df.select(
    F.col("visatype").alias("visa_type"),
    F.col("visapost").alias("visa_issuer"),
    F.col("I94VISA").alias("visa_category_code").cast(IntegerType()).cast(StringType()),
).dropDuplicates()
dim_visa_df = dim_visa_df.withColumn("visa_category", F.col("visa_category_code")).replace(visa_category, subset="visa_category")

window_visa = Window.orderBy("visa_type")
dim_visa_df = dim_visa_df.withColumn("visa_id", F.row_number().over(window_visa))

print(dim_visa_df.count())
dim_visa_df.printSchema()
dim_visa_df.limit(5).toPandas()

ModuleNotFoundError: No module named 'utils'

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType
import pandas as pd

def read_continent_list(spark: SparkSession) -> DataFrame:
    link = "https://www.php.net/manual/en/function.geoip-continent-code-by-name.php"
    pd_df = pd.read_html(link, keep_default_na=False)[0]
    print(pd_df)
    
    schema = StructType([
        StructField("Code", StringType(), True),
        StructField("Continent name", StringType(), True)
    ])
    
    spark_df = spark.createDataFrame(pd_df, schema=schema)
    print(f"Continent list from {link} was successfully read.")
    return spark_df

read_continent_list(spark)

  Code Continent name
0   AF         Africa
1   AN     Antarctica
2   AS           Asia
3   EU         Europe
4   NA  North america
5   OC        Oceania
6   SA  South america
Continent list from https://www.php.net/manual/en/function.geoip-continent-code-by-name.php was successfully read.

DataFrame[Code: string, Continent name: string]

In [8]:
def read_continet_list(spark: SparkSession) -> DataFrame:
    link = "https://www.php.net/manual/en/function.geoip-continent-code-by-name.php"
    pd_df = pd.read_html(link, keep_default_na=False)[0]
    spark_df = spark.createDataFrame(pd_df)
    print(spark_df.show())
    print(f"Continent list from {link} was successfully read.")
    return spark_df
read_continet_list(spark)

+----+--------------+
|Code|Continent name|
+----+--------------+
|  AF|        Africa|
|  AN|    Antarctica|
|  AS|          Asia|
|  EU|        Europe|
|  NA| North america|
|  OC|       Oceania|
|  SA| South america|
+----+--------------+

None
Continent list from https://www.php.net/manual/en/function.geoip-continent-code-by-name.php was successfully read.

DataFrame[Code: string, Continent name: string]

In [4]:
def read_country_list(spark: SparkSession) -> DataFrame:
    """Read the country list from 'https://countrycode.org/'."""
    link = "https://countrycode.org/"
    pd_df = pd.read_html(link)[1]
    pd_df["ISO CODES"] = pd_df["ISO CODES"].apply(lambda value: value.split(" / ")[0])
    pd_df.drop(columns=["COUNTRY CODE"], inplace=True)
    pd_df.rename(
        columns={"COUNTRY": "country", "ISO CODES": "country_code"}, inplace=True
    )

    spark_df = spark.createDataFrame(pd_df)
    print(f"Country list from {link} was successfully read.")
    print(spark_df.show())
    return spark_df
read_country_list(spark)

Country list from https://countrycode.org/ was successfully read.
+-------------------+------------+
|            country|country_code|
+-------------------+------------+
|        Afghanistan|          AF|
|            Albania|          AL|
|            Algeria|          DZ|
|     American Samoa|          AS|
|            Andorra|          AD|
|             Angola|          AO|
|           Anguilla|          AI|
|         Antarctica|          AQ|
|Antigua and Barbuda|          AG|
|          Argentina|          AR|
|            Armenia|          AM|
|              Aruba|          AW|
|          Australia|          AU|
|            Austria|          AT|
|         Azerbaijan|          AZ|
|            Bahamas|          BS|
|            Bahrain|          BH|
|         Bangladesh|          BD|
|           Barbados|          BB|
|            Belarus|          BY|
+-------------------+------------+
only showing top 20 rows

None

DataFrame[country: string, country_code: string]

In [7]:
def read_country_list(spark: SparkSession) -> DataFrame:
    """Read the country list from 'https://countrycode.org/'."""
    link = "https://countrycode.org/"
    pd_df = pd.read_html(link)[1]
    print(pd_df)
    pd_df["ISO CODES"] = pd_df["ISO CODES"].apply(lambda value: value.split(" / ")[0])
    pd_df.drop(columns=["COUNTRY CODE"], inplace=True)
    pd_df.rename(
        columns={"COUNTRY": "country", "ISO CODES": "country_code"}, inplace=True
    )

    spark_df = spark.createDataFrame(pd_df)
    print(f"Country list from {link} was successfully read.")
    print(spark_df.show())
    return spark_df
    #print(spark_df.show())
read_country_list(spark)

                            COUNTRY COUNTRY CODE ISO CODES
0                       Afghanistan           93  AF / AFG
1                           Albania          355  AL / ALB
2                           Algeria          213  DZ / DZA
3                    American Samoa        1-684  AS / ASM
4                           Andorra          376  AD / AND
5                            Angola          244  AO / AGO
6                          Anguilla        1-264  AI / AIA
7                        Antarctica          672  AQ / ATA
8               Antigua and Barbuda        1-268  AG / ATG
9                         Argentina           54  AR / ARG
10                          Armenia          374  AM / ARM
11                            Aruba          297  AW / ABW
12                        Australia           61  AU / AUS
13                          Austria           43  AT / AUT
14                       Azerbaijan          994  AZ / AZE
15                          Bahamas        1-242  BS / BHS
16                          Bahrain          973  BH / BHR
17                       Bangladesh          880  BD / BGD
18                         Barbados        1-246  BB / BRB
19                          Belarus          375  BY / BLR
20                          Belgium           32  BE / BEL
21                           Belize          501  BZ / BLZ
22                            Benin          229  BJ / BEN
23                          Bermuda        1-441  BM / BMU
24                           Bhutan          975  BT / BTN
25                          Bolivia          591  BO / BOL
26           Bosnia and Herzegovina          387  BA / BIH
27                         Botswana          267  BW / BWA
28                           Brazil           55  BR / BRA
29   British Indian Ocean Territory          246  IO / IOT
..                              ...          ...       ...
210                          Taiwan          886  TW / TWN
211                      Tajikistan          992  TJ / TJK
212                        Tanzania          255  TZ / TZA
213                        Thailand           66  TH / THA
214                            Togo          228  TG / TGO
215                         Tokelau          690  TK / TKL
216                           Tonga          676  TO / TON
217             Trinidad and Tobago        1-868  TT / TTO
218                         Tunisia          216  TN / TUN
219                          Turkey           90  TR / TUR
220                    Turkmenistan          993  TM / TKM
221        Turks and Caicos Islands        1-649  TC / TCA
222                          Tuvalu          688  TV / TUV
223             U.S. Virgin Islands        1-340  VI / VIR
224                          Uganda          256  UG / UGA
225                         Ukraine          380  UA / UKR
226            United Arab Emirates          971  AE / ARE
227                  United Kingdom           44  GB / GBR
228                   United States            1  US / USA
229                         Uruguay          598  UY / URY
230                      Uzbekistan          998  UZ / UZB
231                         Vanuatu          678  VU / VUT
232                         Vatican          379  VA / VAT
233                       Venezuela           58  VE / VEN
234                         Vietnam           84  VN / VNM
235               Wallis and Futuna          681  WF / WLF
236                  Western Sahara          212  EH / ESH
237                           Yemen          967  YE / YEM
238                          Zambia          260  ZM / ZMB
239                        Zimbabwe          263  ZW / ZWE

[240 rows x 3 columns]
Country list from https://countrycode.org/ was successfully read.
+-------------------+------------+
|            country|country_code|
+-------------------+------------+
|        Afghanistan|          AF|
|            Albania|          AL|
|            Algeria|          DZ|
|     American Samoa|          AS|
|            Andorra|          AD|
|             Angola|          AO|
|           Anguilla|          AI|
|         Antarctica|          AQ|
|Antigua and Barbuda|          AG|
|          Argentina|          AR|
|            Armenia|          AM|
|              Aruba|          AW|
|          Australia|          AU|
|            Austria|          AT|
|         Azerbaijan|          AZ|
|            Bahamas|          BS|
|            Bahrain|          BH|
|         Bangladesh|          BD|
|           Barbados|          BB|
|            Belarus|          BY|
+-------------------+------------+
only showing top 20 rows

None

DataFrame[country: string, country_code: string]

In [10]:
import boto3

# Create an S3 client
s3 = boto3.client('s3')

# Specify your AWS access key and secret access key
access_key = ''
secret_key = ''

# Set the credentials for the S3 client
s3 = boto3.client('s3', aws_access_key_id=access_key, aws_secret_access_key=secret_key)

In [12]:
import boto3
import os

def upload_parquet_files_to_s3(local_directory, s3_bucket):

    access_key = ''
    secret_key = ''

    s3 = boto3.client(
    's3',
    aws_access_key_id=access_key,
    aws_secret_access_key=secret_key
    )
    
    for root, dirs, files in os.walk(local_directory):
        for file in files:
            if file.endswith('.parquet'):
                local_path = os.path.join(root, file)
                s3_path = os.path.join(s3_bucket, file)
                s3.upload_file(local_path, s3_bucket, s3_path)
                print(f"Uploaded {local_path} to S3 bucket {s3_bucket} at {s3_path}")

# Usage example
local_directory = 'path_to_save_parquet_file.parquet'
s3_bucket = 'capstoneglobaltemp'

upload_parquet_files_to_s3(local_directory, s3_bucket)

Uploaded path_to_save_parquet_file.parquet/part-00074-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00074-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00192-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00192-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00121-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00121-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00073-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00073-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00038-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00038-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00142-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00142-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00054-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00054-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00032-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00032-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00155-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00155-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00148-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00148-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00020-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00020-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00061-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00061-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00023-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00023-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00014-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00014-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00052-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00052-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00137-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00137-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00093-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00093-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00096-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00096-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00174-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00174-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00138-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00138-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00180-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00180-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00012-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00012-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00140-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00140-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00106-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00106-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00111-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00111-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00189-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00189-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00087-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00087-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00161-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00161-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00187-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00187-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00199-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00199-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00090-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00090-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00095-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00095-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00178-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00178-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00182-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00182-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00176-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00176-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00017-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00017-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet

Uploaded path_to_save_parquet_file.parquet/part-00085-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00085-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00166-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00166-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00027-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00027-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00131-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00131-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00078-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00078-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00005-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00005-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00188-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00188-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00117-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00117-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00088-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00088-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00033-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00033-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00163-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00163-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00139-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00139-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00119-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00119-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00082-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00082-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00108-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00108-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00132-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00132-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00069-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00069-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00100-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00100-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00055-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00055-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00083-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00083-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00145-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00145-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00021-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00021-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00124-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00124-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00028-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00028-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00198-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00198-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00043-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00043-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00019-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00019-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00173-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00173-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00169-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00169-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00177-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00177-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00194-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00194-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00048-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00048-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00101-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00101-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00029-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00029-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00068-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00068-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00196-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00196-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00152-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00152-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet

Uploaded path_to_save_parquet_file.parquet/part-00063-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00063-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00149-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00149-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00143-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00143-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00159-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00159-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00075-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00075-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00144-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00144-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00037-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00037-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00022-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00022-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00072-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00072-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00151-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00151-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00104-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00104-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00168-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00168-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00036-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00036-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00056-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00056-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00009-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00009-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00107-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00107-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00053-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00053-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00059-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00059-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00110-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00110-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00170-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00170-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00195-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00195-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00134-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00134-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00116-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00116-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00129-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00129-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00013-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00013-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00185-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00185-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00184-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00184-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00171-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00171-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00164-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00164-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00007-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00007-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00133-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00133-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00113-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00113-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00089-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00089-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00153-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00153-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00127-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00127-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00150-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00150-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet

Uploaded path_to_save_parquet_file.parquet/part-00065-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00065-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00080-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00080-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00031-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00031-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00162-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00162-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00071-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00071-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00179-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00179-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00097-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00097-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00128-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00128-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00094-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00094-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00157-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00157-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00135-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00135-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00066-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00066-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00047-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00047-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00079-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00079-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00050-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00050-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00064-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00064-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00109-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00109-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00058-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00058-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00172-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00172-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00130-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00130-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00034-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00034-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00186-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00186-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00115-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00115-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00003-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00003-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00060-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00060-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00002-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00002-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00004-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00004-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00000-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00000-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00183-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00183-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00018-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00018-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00165-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00165-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00008-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00008-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00025-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00025-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00045-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00045-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00105-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00105-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00040-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00040-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet

Uploaded path_to_save_parquet_file.parquet/part-00175-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00175-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00046-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00046-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00099-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00099-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00146-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00146-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00041-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00041-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00035-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00035-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00167-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00167-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00067-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00067-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00141-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00141-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00015-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00015-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00026-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00026-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00044-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00044-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00190-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00190-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00030-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00030-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00114-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00114-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00049-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00049-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00077-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00077-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00091-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00091-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00098-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00098-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00123-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00123-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00181-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00181-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00092-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00092-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00051-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00051-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00197-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00197-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00016-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00016-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00112-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00112-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00158-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00158-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00001-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00001-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00156-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00156-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00160-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00160-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00122-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00122-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00193-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00193-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00042-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00042-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00081-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00081-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00147-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00147-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00126-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00126-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet

Uploaded path_to_save_parquet_file.parquet/part-00024-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00024-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00120-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00120-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00062-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00062-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00136-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00136-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00039-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00039-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00010-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00010-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00118-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00118-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00125-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00125-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00191-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00191-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00057-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00057-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00086-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00086-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00076-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00076-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00070-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00070-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00154-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00154-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00006-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00006-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00102-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00102-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00084-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00084-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00103-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00103-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet
Uploaded path_to_save_parquet_file.parquet/part-00011-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet to S3 bucket capstoneglobaltemp at capstoneglobaltemp/part-00011-9d82d212-f51e-4a86-bc40-4a410a409507-c000.snappy.parquet

In [ ]:
#